body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
}

main {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
}
#postForm {
    width: 70%;
    height: 85%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

span {
    color: red;
}